* {
  font-family: sans-serif;
}

.options {
  display: flex;
  align-items: center; /* vertical center */
  /* justify-content: center; */
  border: 1px solid black;
  height: 50px;
  max-width: 300px;
  padding-left: 15px;
}
.invisible {
  display: none;
}

/* 
.bgright {
  background-color: rgb(8, 212, 8);
}
.bgwrong {
  background-color: rgb(239, 7, 7);
} */
.bgright {
  background: #4caf50;
  transition: 0.3s;
}
.bgwrong {
  background: #f44336;
  transition: 0.3s;
}
.inactive {
  pointer-events: none;
  opacity: 0.5;
}
